{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<h1 class="ps-5 text-center">Profile</h1>
<div class="row justify-content-center">
<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Hello {{app.user.firstname}} {{app.user.lastname}}</h5>
    <p class="card-text">Adresse: {{app.user.adresse}}</p>
    <p class="card-text">City: {{app.user.city}}</p>
    <p class="card-text">Zipcode: {{app.user.zipcode}}</p>
    <p class="card-text">Telephone: {{app.user.telephone}}</p>
    <p class="card-text">E-mail: {{app.user.email}}</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
</div>
{% endblock %}
