{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% form_theme passwordForm 'bootstrap_5_layout.html.twig' %}

{% block body %}

{{ form_start(passwordForm, { 'attr': {'novalidate': 'novalidate'} }) }}

    <h1>Modify Password</h1>

    {{ include('flash.html.twig') }}
    <div class="col-md-6">
        {{ form_row(passwordForm.oldPassword) }}
		{{ form_row(passwordForm.password) }}
	</div>

        {{ form_row(passwordForm._token) }}

        <div class="col-md-3">
     <button type="submit" class="btn btn-primary">Modify</button>
        </div>


{{ form_end(passwordForm, {rendre_rest: false}) }}  



{% endblock %}