{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

			<h1 class="ps-5">Register</h1>

			{{ include('flash.html.twig') }}

			{{ form_start(registrationForm, { 'attr': {'novalidate': 'novalidate'} }) }}
	
		<div class="row g-3 justify-content-center p-5">
			<div class="col-md-6">
			{{ form_row(registrationForm.firstname) }}
			</div>
			<div class="col-md-6">
			{{ form_row(registrationForm.lastname) }}
			</div>
			<div class="col-12">
			{{ form_row(registrationForm.adresse) }}
			</div>
			<div class="col-md-4">
			{{ form_row(registrationForm.city) }}
			</div>
			<div class="col-md-2">
			{{ form_row(registrationForm.zipcode) }}
			</div>
			<div class="col-md-6">
			{{ form_row(registrationForm.telephone) }}
			</div>
			<div class="col-md-6">
			{{ form_row(registrationForm.picture) }}
			</div>
			<div class="col-md-6">
			{{ form_row(registrationForm.email) }}
			</div>
			<div class="col-md-6">
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'}) }}
			</div>
			<div class="col-12">
			{{ form_row(registrationForm.agreeTerms) }}
			</div>
			<div class="col-12">
			<button type="submit" class="btn btn-primary">Register</button>
			</div>
		</div>
			{{ form_end(registrationForm) }}

		
	
{% endblock %}
