{% form_theme articleForm 'bootstrap_5_layout.html.twig' %}
{{ include('flash.html.twig') }}
{{ form_start(articleForm) }}
    {{ form_widget(articleForm) }}
    <button class="btn btn-primary m-1">{{ button_label|default('Save') }}</button>
{{ form_end(articleForm) }}
