{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	<h1>Article index</h1>

	{{ include('flash.html.twig') }}

	<div class="row text-center justify-content-center">
		{% for article in articles %}


			<div class="article d-flex p-3">
				<a href="{{path('app_article_show', { id: article.id} )}}">

					{% if article.picture is empty %}
						<img class="col-md-4" src="{{ asset('/uploads/articles/default.png')}}" alt="{{article.title}}" title="{{article.title}}">
					{% else %}
						<img class="col-md-4" src="{{ asset('/uploads/articles/' ~ article.picture)}}" alt="{{article.title}}" title="{{article.title}}">
					{% endif %}

					<div class="col-md-8 d-flex flex-column align-items-center justify-content-center ms-2">
						<h3>{{article.title}}</h3>
						<p>{{article.description}}</p>
						<div class="col-md-4">
							<a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary m-1">Show</a>

							{% if app.user %}
							<a href="{{ path('app_comment', {'id_article': article.id}) }}" class="btn btn-primary m-1">Comments</a>
							{% endif %}
							
							{% if app.user and 'ROLE_ADMIN' in app.user.getroles() %}
								<a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-primary m-1">Edit</a>
							{% endif %}
						</div>
					</div>
				</a>
			</div>

		{% else %}
			<tr>
				<td colspan="6">no records found</td>
			</tr>
		{% endfor %}

		{% if app.user and 'ROLE_ADMIN' in app.user.getroles() %}
		<a href="{{ path('app_article_new') }}" class="btn btn-primary m-1 col-md-3">Create new</a>
		{% endif %}

		<div class="navigation mt-3 d-flex justify-content-center">
    			{{ knp_pagination_render(articles) }}
		</div>

	</div>


{% endblock %}
