{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>
    <div class="row">
    <div class="col-md-8">
    {{ include('flash.html.twig') }}

    <div class="card mb-3" style="">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ asset('/uploads/articles/' ~ article.picture)}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">Id: {{ article.id }} </p>
        <p class="card-text">Description: {{ article.description }} </p>
        <p class="card-text"><small class="text-body-secondary">Date: {{ article.date ? article.date|date('Y-m-d') : '' }} </small></p>
      </div>
    </div>
  </div>
</div>
    
    {% for comment in comments %}
        {% if comment.isVerified %}

    <div class="card text-bg-light mb-3">
      <div class="card-header">{{comment.firstName}} - User {{comment.user}}</div>
      <div class="card-body">
      <p class="card-text">{{comment.content}}</p>
      <p class="card-text"><small class="text-body-secondary">Date: {{ comment.date ? comment.date|date('Y-m-d') : '' }} </small></p>
      </div>
    </div>

         {% endif %}
    {% endfor %}

   
    <a href="{{ path('app_article_index') }}" class="btn btn-primary m-1" role="button">back to list</a>
    {% if app.user and 'ROLE_ADMIN' in app.user.getroles() %}
    <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-primary m-1" role="button">edit</a>
    {% endif %}

    {{ include('article/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
